*{
    margin:0;
    padding:0;
    list-style:none;
}

body{
    width:100%;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    height:1000px;
    background:#f4f4f4;
}
/* 公共属性 */
.nav-start{
    width:12px;
    height:6px;
    float:right;
    margin-top:2px;
    background:transparent;
}
.nav-pic{
    margin-right:5px;
    /* display:inline-block; */
    width:12px;
    height:12px;
    margin-top:12px;
    float:left;
}
.nav-item:hover .nav-list{
    display:block;
    position:relative;
}
.nav-list-a{
    padding:0 5px;
    height:28px;
    line-height:28px;
}
.nav-list{
    position:relative;
    margin-top:-1px;
    z-index:999;
    display:none;
}
.nav-list-container{
    padding:8px 0;
    position:absolute;
    top:0;
    left:0;
    border:1px solid #eee;
    background:white;
}
.nav-list-a:hover{
    background:#f4f4f4;
}
.nav-textcolor-orange:hover{
    color:rgb(255,68,0);
    cursor:pointer;
}
.nav-bgcolor-white{
    z-index:1000;
    position:relative;
}
.nav-item:hover .nav-bgcolor-white{
    background:white;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    padding:0 5px !important;
    
}
/* nav */
header{
    width:100%;
}
header nav{
    background:#f5f5f5;
}
nav .nav-container{
    height:35px;
    margin:0 auto;
    width:1190px;
}
nav .nav-container:after{
    content:"";
    display:block;
    clear:both;
}
nav a{
    text-decoration:none;
    color:#6C6C6C;
    display:block;
    white-space:nowrap;
}

/* header-nav-left */
header .h-nav-left{
    float:left;
    height:35px;
    line-height:35px;
}
.h-nav-left .nav-item{
    float:left;
    
}
.nav-area:hover .nav-area-show{
    background:white;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    padding:0 5px;
    z-index:1000;
    position:relative;
}
.nav-area .nav-area-show {
    padding:0 6px;
    position:relative;
}
.nav-area .nav-area-show span:nth-child(1){
    margin-right:7px;
}
.nav-area:hover .nav-area-list{
    display:block;
}
.nav-area .nav-area-list ul{
    max-height:270px;
    overflow-y:scroll;
}
.nav-area .nav-area-list ul li{
    padding-left:8px;
    height:29px;
    width:242px;
    color:#3c3c3c;
    cursor:pointer;
    line-height:29px;
}
.nav-area .nav-area-list ul li:hover{
    background:#f4f4f4;
}

.nav-login{
    margin-right:7px;
    padding-left:6px;
}
.nav-login .h{
    color:#f22e00;
}
.nav-register{
    margin-right:7px;
    padding-right:6px;
}
.nav-phone{
    padding:0 6px;
}
.nav-phone a{
    margin-right:7px;
}
/* header-nav-right */
header .h-nav-right{
    float:right;
    height:35px;
    line-height:35px;
}
.h-nav-right .nav-item{
    float:left;
    color:#6C6C6C;
}

.nav-mytb .nav-mytb-show{
    padding:0 6px;
}
.nav-mytb .nav-mytb-show span:nth-child(1){
    margin-right:7px;
}
.nav-gwc{
    padding:0 6px;
    vertical-align:top;
}
.nav-gwc .nav-gwc-pic{
    background-size:100%;
    background-image:url(./Img/gwc.png);
    background-repeat:no-repeat;
}
.nav-gwc .nav-gwc-show{
    margin-right:7px;
}
.nav-gwc span{
    vertical-align:top;
}
.nav-scj .nav-scj-show{
    padding:0 6px;
}
.nav-scj .nav-scj-show span{
    vertical-align:top;
}
.nav-scj .nav-scj-pic{
    background-size:100%;
    background-image:url(./Img/scj.png);
    background-repeat: no-repeat;
    background-position:0px -12px;
}
.nav-scj .nav-scj-show:hover .nav-scj-pic{
    background-position:0px 0px;
}
.nav-scj .nav-scj-show span:nth-child(2){
    margin-right:7px;
}
.nav-product{
    padding:0 6px;
}
.nav-product span{
    margin-right:7px;
}
.nav-vline{
    padding:0 5px;
    color:#ddd !important;
}
.nav-mjcenter-show{
    padding:0 6px;
}
.nav-mjcenter-show span:nth-child(1){
    margin-right:7px;
}
.nav-lxkf .nav-lxkf-show{
    padding:0 6px;
}
.nav-lxkf .nav-lxkf-show span:nth-child(1){
    margin-right:7px;
}
.nav-webnav .nav-webnav-show{
    padding:0 6px;
}
.nav-webnav .nav-webnav-show span{
    vertical-align:top;
}
.nav-webnav .nav-webnav-show span:nth-child(2){
    margin-right:7px;
    
}
.nav-webnav .nav-webnav-show .nav-webnav-pic{
    background-size:100%;
    background-image:url(./Img/wzdh.png);
    background-repeat: no-repeat;
}
/* search */

.search{
    width:100%;
    height:121px;
    overflow:hidden;
}
.search a{
    color:#3c3c3c;
}
.search a:hover{
    color:#f40;
}
.search-container{
    width:1190px;
    height:88px;
    margin:0 auto;
    margin-top:24px;
    position:relative;
}
.search-container .search-left{
    width:190px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.search-left .search-logo{
    width:100%;
    height:80px;
    margin-top:8px;
}
.search-left .search-logo a{
    width:142px;
    height:0px;
    padding-top:58px;
    background-image:url(./Img/logo.png);
    display:block;
    margin:0 20px;
    overflow: hidden;
}
.search-container .search-center{
    width:630px;
    height:87px;
    margin-left: 258px;
    margin-right: 302px;
}
.search-center .search-center-top{
    width:613px;
    height:22px;
    margin-left:17px;
}
.search-center .search-center-top ul li{
    float:left;
    width:36px;
    height:22px;
    margin-right:4px;
    text-align:center;
    line-height:22px;
    font-size:12px;
    color:rgb(255,68,0);
    cursor:pointer;
}
.search-center .search-center-top ul li:hover{
    background-color: #FFEEE5;
    color: #FF5400;
}
.search-center-top-lifocus{
    color:white !important;
    font-weight:700;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.search-center .search-center-middle{
    height:40px;
    width:630px;
    position:relative;
}
.search-center-middle .search-center-middle-container{
    height:36px;
    width:554px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow:hidden;
}
.search-center-middle .search-center-middle-search{
    height:36px;
    position:relative;
}
.search-center-middle .search-center-middle-search input{
    width:472px;
    height:24px;
    padding:6px 0;
    outline:none;
    border:0;
    font-size:12px;
    vertical-align:top;
    text-indent:10px;
}
.search-center-middle .search-center-middle-searchbtn{
    position:absolute;
    top:0;
    right:0px;
    width:74px;
    height:40px;
    color:white;
    font-size:18px;
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    font-weight: 700;
    text-align:center;
    line-height:40px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.search-center-middle .search-center-middle-search span:nth-of-type(1){
    display:inline-block;
    width:16px;
    height:24px;
    background-image:url(./Img/search.png);
    background-repeat:no-repeat;
    background-size:95% 65%;
    position: absolute;
    background-position-y: 2px;
    top:9px;
    left:14px;
}
.search-center-middle .search-center-middle-search span:nth-of-type(2){
    display:inline-block;
    width:24px;
    height:36px;
    background-image:url(./Img/photo.png);
    background-repeat:no-repeat;
    background-size:95% 61%;
    position:absolute;
    top:5px;
    right:16px;
}
.search-center .search-center-bottom{
    padding:5px 41px 0 0;
}
.search-center-bottom div a{
    text-decoration:none;
}
.search-center-bottom div a:nth-child(3){
    color:#ff5000;
}
.search-right{
    position:absolute;
    right:110px;
    top:0px;
}
.search-right .search-right-container{
    width:74px;
    height:88px;
    border:1px solid #eee;
    position:relative;
}
.search-right-container .search-right-container-pic{
    text-align:center;
    display:inline-block;
    height:100%;
    width:100%;
    text-decoration: none;
    color: #ff5000;
}
.search-right-container .search-right-container-close{
    width:14px;
    height:14px;
    text-decoration: none;
    color:#eee;
    line-height:14px;
    text-align:center;
    border:1px solid #eee;
    display:block;
    position:absolute;
    top:-1px;
    left:-16px;
}
.search-right-container img{
    width:62px;
    height:62px;
    /* margin-left:6px; */
}

/* container */
.container-nav-ul-main{
    padding:0 9px;
    margin:0 3px;
}
.container-nav-li{
    margin-left:7px; 
    padding:0 5px; 
}
.container-nav-pipe{
    margin-left:7px;
    font-weight:400;
}
.container-nav{
    background-image:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.container-nav .container-nav-container{
    width:1190px;
    height:30px;
    margin:0 auto;
    color:white;
}
.container-nav-container h2{
    float:left;
    width:190px;
    background: #ff5000;
    text-align:center;
    height: 30px;
    line-height:30px;
}
.container-nav-container ul{
    float:left;
    font-size:14px;
    font-weight:700;
}
.container-nav-container ul:nth-of-type(1){
    font-size:16px;
}
.container-nav-container ul li{
    float:left;
    height:30px;
    line-height:30px;
    position:relative;
}
.container-nav-container ul li:hover::after{
    content:"";
}
.container-nav-container .container-nav-pic{
    background: url(./Img/yunqi.gif) 0 0 no-repeat;
    margin:0 7px;
}
.container-nav-container .container-nav-pic a{
    color:transparent;
    height:30px;
    padding:0 5px;
    float:left;
}
.container-nav-container .after-hover:after{
    display:block;
    position:absolute;
    border:20px solid transparent;
    border-bottom:20px solid orangered;
    /* width:30px;
    height:30px; */
    top:-40px;
    left:50%;
    transform:translate(-50%,0);
}
/* container */
.container a{
    text-decoration:none;
}
.container-container{
    width:1190px;
    height:632px;
    margin:0 auto;
}
.container-main{
    width:900px;
    height:100%;
    float:left;
}
.container-left{
    float:left;
}

.a-key{
    color:#ff5000 !important;
}
.theme-list .theme-arrow{
    color:#666;
    font-size:12px;
    position:absolute;
    right:10px;
}
.container-left-top-theme{
    position:relative;
}
.container-left-top-theme .theme-list{
    width:190px;
    height:522px;
}
.theme-list > ul{
    width:188px;
    height:512px;
    border:1px solid #ff5000;
    border-top:0;
    padding:5px 0 3px 0;
}
.theme-list ul li{
    font-size: 14px;
    font-weight: 400;
    width:145px;
    height:32px;
    padding-left: 25px;
    padding-right: 19px;
    color: #666;
    line-height:32px;
    position:relative;
}
.theme-list ul li a:hover{ 
    text-decoration: underline;
}
.theme-list ul li:hover,
.theme-list ul li:hover a,
.theme-list ul li:hover span{
    color: #FF5000 !important;
    background:rgb(255,228,220);
}
.theme-list ul li a{
    color:#666;
}
.theme-container{
    width:692px;
    height:518px;
    border:2px solid rgb(249, 74, 20);
    position:absolute;
    top:0px;
    left:188px;
    padding-left:18px;
    display: none;
    z-index: 10000;
    background:white;
}
.theme-container-left{
    width:415px;
    height:490px;
    padding:10px 12px 0 10px;
    float:left;
    /* border:1px solid red; */
}
.theme-container-left ul li div{
    /* border:1px solid red; */
    height:137px;
    line-height:26px;
    /* word-wrap:break-word; */
}
.theme-container-left ul li h5{
    height:36px;
    position:relative;
    line-height:36px;
}
.theme-container-left ul li h5 a:hover{
    color:#f40 !important;
}
.theme-container-left ul li h5 a:nth-child(1){
    font-size:16px;
    color:#3c3c3c;
}
.theme-container-left ul li h5 a:nth-child(2){
    position:absolute;
    right:0px;
    font-weight:400;
    color:#3c3c3c;
}
.theme-container-left ul li div a{
    margin-right:12px;
    white-space: nowrap;
    color:#666;
}
.theme-container-item .theme-container-right{
    width:253px;
    height:498px;
    border-left:1px solid #f4f4f4;
    padding-top:20px;
    float:left;
}
.theme-container-right .guess-my-love-title{
    text-align:center;
    font-size:12px;
    font-weight:normal;
}
.theme-container-right .guess-my-love-content:after{
    content:"";
    display:block;
    clear:both;
}
.guess-my-love-content-item{
    float:left;
    width:97px;
    height:143px;
    padding:10px 0 0 20px;
}
.guess-my-love-content-item div:hover img{
    opacity:0.8;
}
.guess-my-love-content-item div:hover ~ h5{
    color:#ff5000;
}
.guess-my-love-content-item h5:hover{
    color:#ff5000;
}
.guess-my-love-content-item div{
    width:97px;
    height:97px;
    background: #4f4f4f;
}
.guess-my-love-content-item div img{
    width:97px;
    height:97px;
    opacity:0.9;
}
.guess-my-love-content-item h5{
    height:26px;
    line-height:26px;
    text-align:center;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    color: #999;
}
.container-center{
    position:relative;
    z-index:9999;
}

.container-center .container-center-left{
    width:520px;
    height:512px;
    margin:10px 0 0 10px;
    float:left; 
}
.container-center-top-flash{
    position: relative;
    overflow:hidden;
    height:280px;
}
.container-center-top-flash-pic{
    position:absolute;
    width:2952px;
    top:0px;
}
.container-center-top-flash-pic li{
    float:left;
}
.container-center-top-flash img{
    width:520px;
    height:280px;
}
.container-center-top-flash span:nth-of-type(1){
    position:absolute;
    width:20px;
    height:30px;
    top:50%;
    left:0px;
    background:rgba(0,0,0,0.8);
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    line-height: 30px;
    font-weight:bold;
    color:#fff;
    /* text-align:center; */
    margin-top:-15px;
    font-size:16px;
}
.container-center-top-flash span:nth-of-type(2){
    position:absolute;
    width:20px;
    height:30px;
    top:50%;
    right:0px;
    background:rgba(0,0,0,0.8);
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    line-height: 30px;
    font-weight:bold;
    color:#fff;
    text-align:right;
    margin-top:-15px;
}
.container-center-top-flash-index{
    position:absolute;
    height:13px;
    font-size: 0;
    border-radius:10px;
    background-color: rgba(255,255,255,0.3);
    bottom:15px;
    left:50%;
    transform:translateX(-50%);
}
.container-center-top-flash-index li{
    width:8px;
    height:8px;
    display:inline-block;
    border-radius:50%;
    background:#fff;
    margin:3px;
}
.container-center-item{
    width:520px;
    padding-top:11px;
    background-color: #f1f1f1
}
.container-center-item-container{
    height:18px;
    line-height:18px;
    position:relative;
}
.container-center-item-tianmao{
    width: 136px;
    position: absolute;
    height: 19px;
    background-repeat: no-repeat;
    background-position: 2px 0;
    background-size: 122px 22px;
    background-image:url(./Img/tianmao.png);
}
.container-center-item-container span:nth-child(2){
    margin-left:136px;
    color:#666;
}
.container-center-item-bar{
    width:520px;
    height:3px;
}
.container-center-item-bar ul li{
    float:left;
    width:86px;
    background:#ff1648;
    height:3px;
}
/* **************** */
.container-center-bottom-flash{
    width:520px;
    height:198px;
    overflow:hidden;
    position:relative;
    background:#fff;
}

.container-center-bottom-flash ul{
    width:4160px;
    height:198px;
    position:absolute;
    top:0px;
    left:-2600px;
}
.container-center-bottom-flash ul li{
    width:520px;
    height:198px;
    float:left;
    line-height:10px;
    
}

.container-center-bottom-flash a{
    float:left;
    border-left: 1px solid #ebebeb;
    margin-left: -1px;
    border-bottom: 1px solid #ebebeb;
}

.container-center-bottom-flash .item1  a img{
    width:173px;
    height:100px;
}
.container-center-bottom-flash .item1  a:nth-child(1) img{
    width:173px;
    height:198px;
}
.container-center-bottom-flash .item2 a{
    margin:22px 0 0 7px;
    border:0;
}
.container-center-bottom-flash .item2 img{
    height:155px;
}
.container-center-bottom-flash .item5 a{
    width: 129px;
    height: 57px;
    padding: 5px 0;
    text-align: center;
}
.container-center-bottom-flash .item5 img{
    width:84px;
    height:42px;
    margin-top:10px;
}
.container-center-bottom-flash .item6 a{
    margin-top: 6px;
    width: 251px;
    height: 190px;
    margin-left: 6px;
    border:0;
}
.container-center-bottom-flash .item6 img{
    width:100%;
    height:100%;
}
/* container-center-right */
.container-center-right{
    width:160px;
    height:512px;
    float:left;
    margin:10px 10px 0 10px;
}
.container-center-right-pic1{
    height:280px;
}
.container-center-right-pic2{
    height:230px;
}
.container-center-right-pic2 span{
    padding-top:6px;
    display:block;
    line-height:24px;
    background: #f1f1f1;
    color: #a1a1a1;
}

/*     *************** */
.container-left-bottom{
    width: 890px;
    height: 100px;
    float:left;
    margin-top:10px;
    background: #fff;
}
.more{
    position:absolute;
    top:14px;
    right:16px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.container-left-bottom-toutiao{
    position: relative;
    padding: 14px 14px 12px 20px;
    /* margin-top: 10px; */
    
}
.container-left-bottom-toutiao h3{
    width:180px;
    height:73px;
    background-image:url(./Img/toutiao.png);
    background-repeat:no-repeat;
    background-position:0 14px;
    overflow:hidden;
    float:left;
}
.toutiao-logo p{
    line-height: 24px;
    height: 24px;
    color: #999;
    font-weight: 400;
    margin-top:42px;
    font-size:12px;
}
.toutiao-flash{
    width:676px;
    height:70px;
    margin-left:180px;
    position:relative;
    overflow:hidden;
}
.toutiao-flash-container{
    position:absolute;
    top:0px;
    height:210px;
}
.toutiao-flash-item{
    width:676px;
    height:70px;
    overflow:hidden;
    /* border:1px solid red; */
}
.toutiao-flash-item img{
    float:left;
    height: 73px;
    width: 130px;
    margin-right:10px;
}
.toutiao-flash-item h4{
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    height: 28px;
}
.toutiao-flash-item p{
    margin-left: 144px;
    color: #999;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
}
/* container-right */
.container-right{
    width:290px;
    height:622px;
    float:left;
    margin-top:10px;
    background:#fff;
}
.container-right-login{
    background-image:url(./Img/login.png);
    background-size:290px 145px;
}
.container-right-login-container{
    padding: 3px 0 10px 0;
    height: 132px;
    text-align: center;
    background-repeat: no-repeat;
}
.container-right-login-item1{
    height:56px;
    width:76px;
    text-align:center;
    margin:0 auto;
    border:3px solid #fff;
}
.container-right-login-item1 img{
    border-radius:50%;
    border:3px solid #fff;
}
.container-right-login-item2{
    height:17px;
    line-height:17px;
}
.container-right-login-item3 a{
    border-radius:9px;
    background: #ffe4db;
    padding: 0 10px 0 20px;
    display:inline-block;
    position:relative;
}
.container-right-login-item3 a span{
    display:inline-block;
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url(./Img/sprite.png);
    vertical-align:top;
    position:absolute;
    left:0px;
}
.container-right-login-item3 a:nth-child(1) span{
    background-position:0 -572.5px;
}
.container-right-login-item3 a:nth-child(2) span{
    background-position:0 -528px;
}
.container-right-login-item4{
    margin-top:8px;
    display:flex;
    justify-content:center;
}
.container-right-login-item4 .btn{
    
    width:75px;
    height:25px;
    margin-right:7px;
    background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    /* float: left; */
    border-radius:4px;
    color:#fff;
    font-size:14px;
    font-weight:700;
    line-height:25px;
}
.container-right-login-item4 .btn:nth-child(1){
    width:92px;
}
.container-right-jubo{
    height: 26px;
    background: #ffe4dd;
    color:#f40;
    line-height:26px;
    text-align:center;
    position:relative;
}
.triangle{
    position: absolute;
    right: 52px;
    top: 9px;
    line-height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}
.container-right-notice{
    padding:0 8px;
    position:relative;
    height: 98px;
    padding-top: 10px;
    width: 290px;
}
.container-right-notice .item{
    float:left;
    width:32px;
    line-height:20px;
    text-align:center;
    margin:0 11px;
}
.container-right-notice .item:hover +li{
    display:block;
}
.container-right-notice .list{
    position:absolute;
    margin: 0 12px;
    height: 50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
    top:32px;
    display:none;
    width:266px;
    left:0px;
}
.container-right-notice .list span{
    float:left;
    width:130px;
    height:25px;
    line-height:25px;
}
.container-right-notice .list1 span:nth-child(1) {
    width:260px;
}
.container-right-convelist-list{
    border-top: 1px solid #f4f4f4;
}
.container-right-convelist-list:after{
    content:"";
    display:block;
    clear:both;
}
.container-right-convelist ul li{
    float:left;
    width:70px;
    border: 1px solid #f4f4f4;
    border-left-color: transparent;
    border-top-color: transparent;
}
.container-right-convelist ul li a{
    display: block;
    height:75px;
    text-align:center;
}
.container-right-convelist ul li span{
    margin-top:11px;
    width:24px;
    height:24px;
    display:inline-block;
    background-repeat:no-repeat;
    background-image:url(./Img/sprite.png);
}
.container-right-convelist ul li:nth-child(1) span{
    background-position:0 0;
}
.container-right-convelist ul li:nth-child(2) span{
    background-position:0 -87px;
}
.container-right-convelist ul li:nth-child(3) span{
    background-position:0 -44px;
}
.container-right-convelist ul li:nth-child(4) span{
    background-position:0 -132px;
}
.container-right-convelist ul li p{
    height:24px;
    line-height:24px;
}
.container-right-convelist-container{

}
.container-right-app{
    height:110px;
    border-top:1px;
}
.container-right-app h3{
    position:relative;
    height:30px;
    padding-left:14px;
    line-height:30px;
    color: #3C3C3C;
}
.container-right-app h3 a{
    position:absolute;
    right:18px;
    font-size:12px;
    font-weight:400;
}
.container-right-app-list{
    padding-left: 23px;
    position: relative;
    height: 84px;
}
.container-right-app-list .app-item{
    width:32px;
    height:32px; 
    float:left;
    margin:0 21px 8px 0;
    position:relative;
}
.app-item a{
    position:relative;
    height:32px;
    display:inline-block;
    z-index:9999;
}
.app-item a:hover +div{
    display:block;
}
.app-item .app-pic{
    width:32px;
    height:32px;
}
.app-item div{
    position:absolute;
    bottom:38px;
    left:16px;
    margin-left:-45px;
    width:90px;
    height:102px;
    border:1px solid #dedede;
    text-align:center;
    display:none;
    line-height:15px;
    background:#fff;
    z-index:10000;
}
.app-item .app-erweima{
    width:66px;
    height:66px;
    padding:12px;
    padding-bottom:0px;
}
.app-item div p{
    height:20px;
}
